{% extends 'plag/base.html' %}
{% load staticfiles %}

{% block page_id %}about{% endblock %}

{% block title %}Contact Us{% endblock %}

{% block desc %}Plagiarism Guard's addresses (physical and email addresses), helpdesk and other contact information.{% endblock %}

{% block sidebar-content %}
    <section class="box-titled">
        <header>
            <h2>Read More</h2>
        </header>
        {% include 'plag/common/about_links.html' %}
    </section>
{% endblock %}

{% block content %}
    <h1>Contact Us</h1>
    <p>To email us, please <a href="https://support.plagiarismguard.com/open.php">contact our helpdesk</a> and we will get back to you as soon as possible. Otherwise, please find our contact information below:</p>
    <h2>Address</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39664.09845745545!2d-3.21121399999997!3d51.5864506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e1840db446761%3A0xebf70d23f247d4f3!2sCF83!5e0!3m2!1sen!2suk!4v1411501387902" width="600" height="450" frameborder="0" style="border:0; float: right;"></iframe>

    </iframe>
    <p itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address" id="address">
        Plagiarism Guard,<br />
        <span itemprop="locality">Caerphilly</span>,<br />
        <span itemprop="region">Wales</span>,<br />
        <span itemprop="country-name">United Kingdom</span>,<br />
        <span itemprop="postal-code">CF83</span></p>

        <h2>Social</h2>
        <p>Please feel free to read and comment on <a href="https://blog.plagiarismguard.com/">our blog</a> where we regularly post news and information about plagiarism, and Plagiarism Guard specific news.</p>
        <p>Please also <a href="https://twitter.com/PlagiarismGuard" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @PlagiarismGuard</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> on Twitter.</p>


        <h2>Contact Info</h2>
        <p> <strong>Phone</strong>: +447505661762<br />
            <strong>General Email</strong>:
            <script type="text/javascript" language="javascript">
            <!--
            // Email obfuscator script 2.1 by Tim Williams, University of Arizona
            // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
            // This code is freeware provided these four comment lines remain intact
            // A wizard to generate this code is at http://www.jottings.com/obfuscator/
            { coded = "5gOF@mHpv5pV5QMvhpVc.6FM"
              key = "ZUqmHvOy1ruWXcwtNaKn0GAQBxRMTLIDiVho763k2plgfjz94bEdYeSC58PFJs"
              shift=coded.length
              link=""
              for (i=0; i<coded.length; i++) {
                if (key.indexOf(coded.charAt(i))==-1) {
                  ltr = coded.charAt(i)
                  link += (ltr)
                }
                else {
                  ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                  link += (key.charAt(ltr))
                }
              }
            document.write("<a href='mailto:"+link+"'>"+link+"</a>")
            }
            //-->
            </script><noscript>Sorry, you need Javascript on to email me.</noscript><br />

            <strong>Sales Email</strong>:
            <script type="text/javascript" language="javascript">
            <!--
            // Email obfuscator script 2.1 by Tim Williams, University of Arizona
            // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
            // This code is freeware provided these four comment lines remain intact
            // A wizard to generate this code is at http://www.jottings.com/obfuscator/
            { coded = "3idH3@jdimPiAP3fmKiAY.Ovf"
              key = "ivEwQ3drxHhNFOm0GWqk4KLjnP6bDSMYAJXtzaof9Tsl7yeIRZcgV81BU2u5pC"
              shift=coded.length
              link=""
              for (i=0; i<coded.length; i++) {
                if (key.indexOf(coded.charAt(i))==-1) {
                  ltr = coded.charAt(i)
                  link += (ltr)
                }
                else {
                  ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                  link += (key.charAt(ltr))
                }
              }
            document.write("<a href='mailto:"+link+"'>"+link+"</a>")
            }
            //-->
            </script><noscript>Sorry, you need Javascript on to email me.</noscript><br />

            <strong>Support Email</strong>:
            <script type="text/javascript" language="javascript">
            <!--
            // Email obfuscator script 2.1 by Tim Williams, University of Arizona
            // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
            // This code is freeware provided these four comment lines remain intact
            // A wizard to generate this code is at http://www.jottings.com/obfuscator/
            { coded = "GI227h0@2CxfqxhqGLfIxhP.m7L"
              key = "4jW57IqgPmvKHDSpy9hasUX1TC3AzNtMOBfZLV8oui2dcRxGYQFeJrw6E0bkln"
              shift=coded.length
              link=""
              for (i=0; i<coded.length; i++) {
                if (key.indexOf(coded.charAt(i))==-1) {
                  ltr = coded.charAt(i)
                  link += (ltr)
                }
                else {
                  ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                  link += (key.charAt(ltr))
                }
              }
            document.write("<a href='mailto:"+link+"'>"+link+"</a>")
            }
            //-->
            </script><noscript>Sorry, you need Javascript on to email me.</noscript><br />

            <strong>Billing Email</strong>:
            <script type="text/javascript" language="javascript">
            <!--
            // Email obfuscator script 2.1 by Tim Williams, University of Arizona
            // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
            // This code is freeware provided these four comment lines remain intact
            // A wizard to generate this code is at http://www.jottings.com/obfuscator/
            { coded = "28uu8WF@tunF8nI8RCFgnI9.wHC"
              key = "549FRjfWBmkuvUKaGrAOw6JtiSHbEQ03hPTeCdgs7znLINlqyZ18VM2cDYpxXo"
              shift=coded.length
              link=""
              for (i=0; i<coded.length; i++) {
                if (key.indexOf(coded.charAt(i))==-1) {
                  ltr = coded.charAt(i)
                  link += (ltr)
                }
                else {
                  ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                  link += (key.charAt(ltr))
                }
              }
            document.write("<a href='mailto:"+link+"'>"+link+"</a>")
            }
            //-->
            </script><noscript>Sorry, you need Javascript on to email me.</noscript><br />

            <strong>Helpdesk</strong>: <a href="https://support.plagiarismguard.com/">https://support.plagiarismguard.com/</a></p>
{% endblock %}
