{% extends 'plag/base.html' %}

{% block page_id %}terms_of_service{% endblock %}

{% block title %}Terms of Service{% endblock %}

{% block desc %}The Terms of Service for Plagiarism Guard's website and service offering.{% endblock %}

{% block sidebar-content %}
    <section class="box-titled">
        <header>
            <h2>Last Amended</h2>
        </header>
        <p>This document was last amended on 01 November 2012.</p>
    </section>
{% endblock %}

{% block content %}
    <h1>Terms of Service</h1>
    <p>These terms and conditions apply between you, the User of this Website, and PlagiarismGuard.com, the owner(s) of this Website. Please read these terms and conditions carefully, as they affect your legal rights. Your agreement to comply with and be bound by these terms and conditions is deemed to occur upon your first use of the Website. If you do not agree to be bound by these terms and conditions, you should stop using the Website immediately.</p>
    <hr/>
    <nav>
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#service">Terms of service</a></li>
            <li><a href="#website">Terms for website</a></li>
        </ul>
    </nav>
    <hr/>
    <section>
        <a name="service"></a>
        <h2>Terms of service</h2>
        <p>These Terms set out our and your legal rights and obligations in relation to the Services supplied to you on this website. Please read them carefully and make sure you understand them before purchasing any Services from us.</p>
        <h3>Meanings</h3>
        <p>1. These words and phrases have defined meanings:</p>
        <table>
            <thead>
                <th scope="col">Term</th>
                <th scope="col">Definition</th>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Contract</th>
                    <td>The contract for the supply of the Services, incorporating the Terms;</td>
                </tr>
                <tr>
                    <th scope="row">Intellectual Property</th>
                    <td>Any invention, patent, utility model right, copyright and related right, registered design, unregistered design right, trade mark trade, name, internet domain name, design right, design, service mark, database rights, topography rights, rights in get-up, rights in goodwill or to sue for passing off and any other rights of a similar nature or other industrial or intellectual property rights owned or used by us in any part of the world whether or not any of the same is registered (or capable of registration), and the right to apply for any of them, in each case in the Work Output;</td>
                </tr>
                <tr>
                    <th scope="row">Order Confirmation</th>
                    <td>An email from us to you acknowledging that your order for the Services has been accepted under these Terms;</td>
                </tr>
                <tr>
                    <th scope="row">Privacy Policy</th>
                    <td>The terms which set out how we will deal with confidential and personal information received from you via the Website;</td>
                </tr>
                <tr>
                    <th scope="row">Services</th>
                    <td>The Services sold to you on the Website;</td>
                </tr>
                <tr>
                    <th scope="row">Specification</th>
                    <td>Any description or specification for the Services, which is provided to your requirements and agreed by us;</td>
                </tr>
                <tr>
                    <th scope="row">Terms</th>
                    <td>The terms and conditions set out in this document (including any Website terms of use and the Privacy Policy) and which apply to any Contract;</td>
                </tr>
                <tr>
                    <th scope="row">You</th>
                    <td>The person purchasing the Services;</td>
                </tr>
                <tr>
                    <th scope="row">We or us</th>
                    <td>The person or business which is providing the Services known as PlagiarismGuard.com;</td>
                </tr>
                <tr>
                    <th scope="row">Website</th>
                    <td>Our website, on which the Services are advertised; and</td>
                </tr>
                <tr>
                    <th scope="row">Work Output</th>
                    <td>Any and all forms of work, including works of authorship, products, documents, materials, discoveries, inventions, programs (including software programs and source code), databases, know-how, methodologies, ideas and designs, in whatever form which are developed, created, written, prepared, devised or discovered by us in the course of providing the Services.</td>
                </tr>
            </tbody>
        </table>
        <p>2. Unless the opposite is clear from the context:</p>
        <ol type="I">
            <li>All singular words include plural ones and vice versa;</li>
            <li>All references to sub-paragraphs, paragraphs, schedules or appendices are to the ones in the Terms;</li>
            <li>All references to a person includes firms, companies, government entities, trusts and partnerships;</li>
            <li>The term 'including' does not exclude anything not listed; all references to statutory provisions include any changes to those provisions;</li>
            <li>No headings or sub-headings form part of the Terms.</li>
        </ol>
        <h3>Introduction</h3>
        <p>3. These Terms, and any Contract between us, are only in the English language.</p>
        <p>4. These Terms will remain in force and will apply to any Services provided until one of us ends the Contract under the paragraphs below (Termination Rights) or until you cancel the Contract under the paragraph below (Your Cancellation Rights).</p>
        <h3>Use of the Website and personal information</h3>
        <p>5. Your use of the Website is governed by the Terms, which apply to any Contract.</p>
        <p>6. We retain and use all information strictly under the Privacy Policy.</p>
        <p>7. We may contact you by using e-mail or other electronic communication methods and by pre-paid post and you expressly agree to this.</p>
        <h3>Important information about making a purchase</h3>
        <p>8. When registering to use the Website, you may set up a username and password. Where this happens, you remain responsible for all actions taken under the chosen username and password and undertake not to disclose your username and password to anyone else and to keep them secret.</p>
        <p>9. You undertake that all information provided to us via the Website is accurate, current and complete, and to notify us of any changes which may mean that the information is inaccurate.</p>
        <p>10. You authorise us to contact any third party agencies, including credit reference agencies, to verify the accuracy of information provided by you where you have failed to comply with a request for verification of information from us.</p>
        <p>11. You can only purchase Services from the Website if you are eligible to enter into a contract and at least 18 years old.</p>
        <p>12. You accept responsibility for statements and representations made by our duly authorised agents. It is your responsibility to check that they have identified and are referring to the correct version of the Terms which is current on the date on which the order is placed via the Website.</p>
        <p>13. Where the Services are destined for a country outside the United Kingdom, it is your responsibility to check with us that the Services can be provided to that place.</p>
        <p>14. You can obtain information about your statutory rights in relation to Services which are not provided with reasonable skill and care from a local Citizens' Advice Bureau or Trading Standards office. Nothing in these Terms will affect these legal rights.</p>
        <h3>How the order is processed</h3>
        <p>15. The order process is set out on the Website. Each step allows you to check and amend any errors before submitting the order. It is your responsibility to check that you have used the ordering process correctly.</p>
        <p>16. After an order has been placed on the Website, you will receive an e-mail acknowledging that we have received the order (Order Confirmation). Once an order is placed it becomes legally binding on you. Submission of an order does not mean that we have accepted the order for the Services. If we are unable to supply the Services, for example because of an error in the price on the Website, we will inform you of this and will not process the order. If you have already paid for the Services, we will refund the full amount as soon as possible.</p>
        <p>17. It is your responsibility to ensure that the Order Confirmation is complete and accurate and to inform us immediately of any errors. We are not responsible for any inaccuracies in the order placed by you.</p>
        <h3>Price and payment</h3>
        <p>18. The price of the Services will be as set out on the Website at the time that your order is placed. Prices for Services may be calculated on a fixed price or on a standard daily rate basis.</p>
        <p>19. Prices for Services may change from time to time, but changes will not affect any order that we have accepted.</p>
        <p>20. The price of Services includes VAT (where applicable) at the applicable current rate chargeable in the UK for the time being. However, if the rate of VAT changes between the date of the Order Confirmation and the date of delivery, you must pay any increase, unless you have already paid for the Services before the change in the rate of VAT takes effect.</p>
        <p>21. Payment for Services must be made Payment may be made by Via PayPal, which accepts all major credit cards or debit cards. Time for payment is of the essence of the Contract.</p>
        <p>22. You must pay all amounts due under the Contract in full. Where either of us gives notice under the paragraph below (Termination rights), you must pay all amounts due up to the end of the notice period, but will not be required to pay any more. We will refund any balance outstanding for unperformed Services within 30 days.</p>
        <p>23. Without limiting our other rights or remedies, we may terminate the Contract with immediate effect, by giving written notice to you, if you fail to pay any amount due under these Terms on the due date for payment. When this happens, you must immediately pay to us all of our outstanding unpaid invoices and interest, and must immediately pay upon receipt our final invoice.</p>
        <p>24. However, this paragraph will not affect your statutory rights as a consumer in relation to Services that are not provided with reasonable skill and care.</p>
        <h3>The supply of Services</h3>
        <p>25. All Services which appear on the Website are subject to availability. We warrant that the Services will be provided using reasonable care and skill. Where you have provided a Specification for the Services, it remains your responsibility to ensure that the Specification is based on accurate information and the correct choice of Services .</p>
        <p>26. Unfortunately, we cannot accept the cancellation or refund of the Contract in the case of Services provided according to Specification. However, this paragraph will not affect your right to terminate in paragraph below (Termination Rights).</p>
        <p>27. Whilst we will use all reasonable endeavours to meet any performance or delivery dates, any performance dates or deadlines (whether specified by you or us) are estimates and approximate only. We cannot guarantee performance or delivery dates and times and time cannot be of the essence for performance of the Services .</p>
        <p>28. We have the right to make any changes to the Services which are necessary to comply with any applicable law or safety requirement, or which do not substantially affect the nature or quality of the Services. We will notify you of these changes.</p>
        <p>29. Occasionally, the supply of the Services may be affected by circumstances beyond our control. See the paragraph below (Circumstances beyond our control) for our responsibilities when this happens.</p>
        <p>30. These paragraphs do not affect your statutory rights as a consumer in relation to Services that are not provided with reasonable skill and care. Advice about consumer rights is available at local Citizen's Advice Bureau or Trading Standards office.</p>
        <h3>Your responsibilities</h3>
        <p>31. You must:</p>
        <ol type="I">
            <li>Co-operate with us in all matters relating to the Services ;</li>
            <li>Provide us, our employees, agents, consultants and subcontractors, with access to your home, property, office, accommodation and other facilities as reasonably required by us;</li>
            <li>Provide us with any information and materials as we may reasonably require in order to supply the Services, and ensure that such information is, as far as possible, accurate;</li>
            <li>Obtain all necessary licences, permissions and consents or other approvals and carry out any tasks which may be required by law or reasonably required by us before the date on which the Services are to start ; and</li>
            <li>Comply with all applicable laws and regulations. We will not be liable or responsible to you if the provision of the Services breaches any local law or regulation.</li>
        </ol>
        <p>32. If the Services are prevented, delayed or affected by your failure to carry out any of your responsibilities set out in this paragraph or any other task reasonably required by us, this failure will be a Customer Default.</p>
        <p>33. If there is a Customer Default:</p>
        <ol type="I">
            <li>we will have the right to suspend performance of the Services until you remedy the Customer Default; and</li>
            <li>if you fail to remedy a Customer Default promptly, following our request, we can, without limiting our other rights or remedies, terminate the Contract with immediate effect on written notice to you; and</li>
            <li>we will not be liable for any costs or losses sustained or incurred by you arising directly or indirectly from our failure or delay to perform any of our obligations, to the extent the failure or delay is caused by a Customer Default; and</li>
            <li>to the extent permitted by law and subject to your statutory rights, we can seek compensation from you for any costs or losses sustained or incurred by us arising directly or indirectly from the Customer Default, including the termination of the Contract.</li>
        </ol>
        <h3>Our liability</h3>
        <p>34. If we fail to comply with these Terms, we are responsible for loss or damage suffered by you that is a foreseeable result of our breach of the Terms or our negligence, but we are not responsible for any loss or damage that is not foreseeable. Loss or damage is foreseeable if it is an obvious consequence of the breach or if the loss was contemplated by the parties at the time the order was accepted by us.</p>
        <p>35. Where we provide the Services in your home, property, office, accommodation and other facilities, we will make good any damage to your property caused by us in the course of providing the Services. However, we are not responsible for the cost of repairing any pre-existing faults or damage to your property discovered in the course of performance.</p>
        <p>36. We supply the Services for domestic and private use. You agree not to use the Services for any commercial, business or re-sale purpose and we have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.</p>
        <p>37. We not exclude or limit in any way our liability for:</p>
        <ol type="I">
            <li>death or personal injury caused by our negligence or the negligence of our employees, agents or subcontractors; or</li>
            <li>misrepresentation which amounts to a breach of schedule 1 of the Unfair Terms in Consumer Contracts Regulations 1999; or</li>
            <li>breach of the terms implied by section 13 of the Supply of Goods and Services Act 1982 (services provided with reasonable care and skill); or</li>
            <li>to the extent that it is relevant to the Contract, section 12 of the Sale of Goods Act 1979 (title and quiet possession) and breach of the terms implied by sections 13, 14 and 15 of the Sale of Goods Act 1979 (description, satisfactory quality, fitness for purpose and samples); and defective products under the Consumer Protection Act 1987.</li>
        </ol>
        <h3>Circumstances beyond our control</h3>
        <p>38. We will not be liable for any failure or delay in performing our obligations under these Terms where such failure or delay results from any cause that is beyond our reasonable control.</p>
        <p>39. In the event of circumstances beyond our control that affect the performance of our obligations under these Terms:</p>
        <ol type="I">
            <li>we will contact you as soon as reasonably possible to notify you. Our obligations under these Terms will be suspended and the time for performance of our obligations will be extended for the duration of the circumstances beyond our control. Where necessary, we will contact you to arrange a new date to begin the Services after the circumstances beyond our control are over; and</li>
            <li>if you no longer wish to buy the Services , you may cancel the Contract under the paragraph below (Your cancellation rights).</li>
        </ol>
        <p>40. If the circumstances beyond our control continue for longer than 4 weeks, we will cancel the Contract, and refund money paid by you in advance.</p>
        <h3>Your cancellation rights</h3>
        <p>41. You may cancel the order before any Services are performed or:</p>
        <ol type="I">
            <li>as a result of circumstances beyond our control under the paragraph above (Circumstances beyond our control); or</li>
            <li>if we change these Terms to your material disadvantage under the clause below (How these Terms can be changed);</li>
            <li>under the Consumer Protection (Distance Selling) Regulations 2000, during the period of seven working days starting from the day after the order is placed, unless the Services have already started. If the Services start within seven working days of the order being placed, then you can only cancel by contacting us in writing before the Services start. Working days means that Saturdays, Sundays or public holidays are not included in this period.</li>
        </ol>
        <p>42. We will confirm the cancellation in writing. Where you have paid for the Services we will refund the amounts paid.</p>
        <h3>Termination rights</h3>
        <p>43. You can terminate this Contract by giving 7 days prior written notice to us. You can terminate this Contract immediately by giving written notice to us if:</p>
        <ol type="I">
            <li>we commit any breach of any of these Terms and, if the breach is capable of remedy, fail to remedy it within 7 days after being given written notice giving details of the breach and requiring it to be remedied;</li>
            <li>we amend these Terms to your material disadvantage;</li>
            <li>we are dissolved, cease to conduct substantially all of our business or become unable to pay our debts as they fall due;</li>
            <li>where we are a company, a receiver is appointed over any of our property or assets;</li>
            <li>we make a voluntary arrangement with our creditors or, being a company, become subject to an administration order (within the meaning of the Insolvency Act 1986); or</li>
            <li>being a firm, we have a bankruptcy order made against us or, being a company, go into liquidation.</li>
        </ol>
        <p>44. We can terminate this Contract by giving 7 days prior written notice to you. We can terminate this Contract immediately by giving you written notice if:</p>
        <ol type="I">
            <li>you commit any breach of any of these Terms and, if the breach is capable of remedy, fail to remedy it within 7 days after being given written notice giving details of the breach and requiring it to be remedied;</li>
            <li>you have a bankruptcy order made against you; or</li>
            <li>you fail to remedy a Customer Default promptly as set out in the clause above (Your responsibilities) or if you fail to make a payment on its due date as set out the clause above (Price and payment).</li>
        </ol>
        <p>45. Termination of this Contract will not affect either party's accrued rights (including rights to be paid) as at the date of termination.</p>
        <h3>Important information about the Service Provider</h3>
        <p>46. We operate the Website https://www.plagiarismguard.com/. We are a sole trader established in England and Wales with its address at 7 Y Dolydd, Watford Park, Caerphilly, CF83 1NT.</p>
        <h3>How these Terms can be changed</h3>
        <p>47. It may be necessary for us to revise these Terms from time to time, including for the purposes of:</p>
        <ol type="I">
            <li>changes in how payments are accepted; or</li>
            <li>changes in relevant laws and regulatory requirements which apply to the Services.</li>
        </ol>
        <p>48. Every time you place an order via the Website for Services, the Terms in force at that time will apply to the Contract.</p>
        <p>49. We will tell you when any changes are made to these Terms by stating that the Terms have been amended with the relevant date of the changes.</p>
        <h3>Miscellaneous</h3>
        <p>50. This Agreement contains the whole agreement between the parties relating to its subject matter. We own all Intellectual Property Rights in or arising out of or in connection with the Services.</p>
        <p>51. We may transfer our rights and obligations under these Terms to another person or organisation, and will always notify you in writing if this happens, but this will not affect your rights.</p>
        <p>52. This agreement is between us and you. No other person shall have any rights to enforce any of its terms. You have the right to enforce the manufacturer's guarantee.</p>
        <p>53. Each of the paragraphs of these Terms operates separately. If any court or relevant authority decides that any of them are unlawful, the remaining paragraphs will remain in full force and effect.</p>
        <p>54. Any failure by us to insist you perform any obligation or failure or delay by us in enforcing our rights does not mean that we have waived our rights against you. Any waiver by us will be in writing.</p>
        <p>55. These Terms will be governed by and interpreted according to English law. This means any Contract for the purchase of Services , the Website and any dispute or claim arising out of or in connection with it will be governed by English law. All disputes arising under them will be subject to the exclusive jurisdiction of the English courts.</p>
    </section>
    <hr/>
    <section>
        <a name="website"></a>
        <h2>Terms for website</h2>
        <h3>Definitions and interpretation</h3>
        <p> 1. In these terms and conditions, the following definitions are used:</p>
        <table>
            <thead>
                <th scope="col">Term</th>
                <th scope="col">Definition</th>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Content</th>
                <td>any text, graphics, images, audio, video, software, data compilations, page layout, underlying code and software and any other form of information capable of being stored in a computer that appears on or forms part of this Website;</td>
            </tr>
            <tr>
                <th scope="row">PlagiarismGuard.com we or our</th>
                <td>the owner and operator of the Website known as PlagiarismGuard.com, as identified at the end of these terms and conditions;</td>
            </tr>
            <tr>
                <th scope="row">Service</th>
                <td>collectively any online facilities, tools, services or information that PlagiarismGuard.com makes available through the Website either now or in the future;</td>
            </tr>
            <tr>
                <th scope="row">System</th>
                <td>any online communications infrastructure that PlagiarismGuard.com makes available through the Website either now or in the future. This includes, but is not limited to, web-based email, message boards, live chat facilities and email links;</td>
            </tr>
            <tr>
                <th scope="row">User/Users or you</th>
                <td>any third party that accesses the Website and is not either (i) employed by PlagiarismGuard.com and acting in the course of their employment or (ii) engaged as a consultant or otherwise providing services to PlagiarismGuard.com and accessing the Website in connection with the provision of such services; and</td>
            </tr>
            <tr>
                <th scope="row">Website</th>
                <td>the website that you are currently using https://www.plagiarismguard.com and any sub-domains of this site, unless expressly excluded by their own terms and conditions.</td>
            </tr>
        </tbody>
    </table>
    <p>2. In these terms and conditions, unless the context requires a different interpretation:</p>
    <ol type="I">
        <li>the singular includes the plural and vice versa;</li>
        <li>references to sub-clauses, clauses, schedules or appendices are to sub-clauses, clauses, schedules or appendices of these terms and conditions;</li>
        <li>a reference to a person includes firms, companies, government entities, trusts and partnerships;</li>
        <li>'including' is understood to mean 'including without limitation';</li>
        <li>reference to any statutory provision includes any modification or amendment of it;</li>
        <li>the headings and sub-headings do not form part of these terms and conditions.</li>
    </ol>
    <h3>Intellectual property and acceptable use</h3>
    <p> 3. All Content included on the Website, unless uploaded by Users, is the property of PlagiarismGuard.com, our affiliates or other relevant third parties. By continuing to use the Website you acknowledge that such Content is protected by copyright, trademarks, database rights and other intellectual property rights. Nothing on this site shall be construed as granting, by implication, estoppel, or otherwise, any license or right to use any trademark, logo or service mark displayed on the site without the owner's prior written permission</p>
    <p> 4. You may, for your own personal, non-commercial use only, do the following:</p>
    <ol type="I">
        <li>retrieve, display and view the Content on a computer screen</li>
        <li>download and store the Content in electronic form on a disk (but not on any server or other storage device connected to a network)</li>
        <li>print one copy of the Content</li>
    </ol>
    <p> 5. You must not otherwise reproduce, modify, copy, distribute or use for commercial purposes any Content without the written permission of PlagiarismGuard.com.</p>
    <p> 6. You acknowledge that you are responsible for any Content you may submit via the Website, including the legality, reliability, appropriateness, originality and copyright of any such Content. You may not upload to, distribute or otherwise publish through the Website any Content that (i) is confidential, proprietary, false, fraudulent, libellous, defamatory, obscene, threatening, invasive of privacy or publicity rights, infringing on intellectual property rights, abusive, illegal or otherwise objectionable; (ii) may constitute or encourage a criminal offence, violate the rights of any party or otherwise give rise to liability or violate any law; or (iii) may contain software viruses, political campaigning, chain letters, mass mailings, or any form of "spam." You may not use a false email address or other identifying information, impersonate any person or entity or otherwise mislead as to the origin of any content. You may not upload commercial content onto the Website.</p>
    <p> 7. You represent and warrant that you own or otherwise control all the rights to the Content you post; that the Content is accurate; that use of the Content you supply does not violate any provision of these terms and conditions and will not cause injury to any person; and that you will indemnify PlagiarismGuard.com for all claims resulting from Content you supply.</p>
    <h3>Prohibited use</h3>
    <p>8. You may not use the Website for any of the following purposes:</p>
    <ol type="I">
        <li>in any way which causes, or may cause, damage to the Website or interferes with any other person's use or enjoyment of the Website;</li>
        <li>in any way which is harmful, unlawful, illegal, abusive, harassing, threatening or otherwise objectionable or in breach of any applicable law, regulation, governmental order;</li>
        <li>making, transmitting or storing electronic copies of Content protected by copyright without the permission of the owner.</li>
    </ol>
    <h3>Registration</h3>
    <p> 9. You must ensure that the details provided by you on registration or at any time are correct and complete.</p>
    <p> 10. You must inform us immediately of any changes to the information that you provide when registering by updating your personal details to ensure we can communicate with you effectively.</p>
    <p> 11. We may suspend or cancel your registration with immediate effect for any reasonable purposes or if you breach these terms and conditions.</p>
    <p> 12. You may cancel your registration at any time by informing us in writing to the address at the end of these terms and conditions. If you do so, you must immediately stop using the Website. Cancellation or suspension of your registration does not affect your statutory rights.</p>
    <h3>Password and security</h3>
    <p>13. When you register on this Website, you will be asked to create a password, which you should keep confidential and not disclose or share with anyone.</p>
    <p>14. If we have reason to believe that there is or is likely to be any misuse of the Website or breach of security, we may require you to change your password or suspend your account.</p>
    <h3>Links to other websites</h3>
    <p> 15. This Website may contain links to other sites. Unless expressly stated, these sites are not under the control of PlagiarismGuard.com or that of our affiliates.</p>
    <p> 16. We assume no responsibility for the content of such Websites and disclaim liability for any and all forms of loss or damage arising out of the use of them.</p>
    <p> 17. The inclusion of a link to another site on this Website does not imply any endorsement of the sites themselves or of those in control of them.</p>
    <h3>Privacy Policy and Cookies Policy</h3>
    <p>18. Use of the Website is also governed by our Privacy Policy and Cookies Policy, which are incorporated into these terms and conditions by this reference. <a href="{% url 'privacy_policy' %}">View the Privacy Policy and Cookies Policy</a>.</p>
    <h3>Availability of the Website and disclaimers</h3>
    <p> 19. The Service is provided "as is" and on an "as available" basis. We give no warranty that the Service will be free of defects and/or faults. To the maximum extent permitted by the law, we provide no warranties (express or implied) of fitness for a particular purpose, accuracy of information, compatibility and satisfactory quality. PlagiarismGuard.com is under no obligation to update information on the Website.</p>
    <p> 20. Whilst PlagiarismGuard.com uses reasonable endeavours to ensure that the Website is secure and free of errors, viruses and other malware, we give no warranty or guaranty in that regard and all Users take responsibility for their own security, that of their personal details and their computers.</p>
    <p> 21. PlagiarismGuard.com accepts no liability for any disruption or non-availability of the Website.</p>
    <p> 22. PlagiarismGuard.com reserves the right to alter, suspend or discontinue any part (or the whole of) the Website including, but not limited to, any products and/or services available. These terms and conditions shall continue to apply to any modified version of the Website unless it is expressly stated otherwise.</p>
        <h3>Limitation of liability</h3>
    <p> 23. Nothing in these terms and conditions will: (a) limit or exclude our or your liability for death or personal injury resulting from our or your negligence, as applicable; (b) limit or exclude our or your liability for fraud or fraudulent misrepresentation; or (c) limit or exclude any of our or your liabilities in any way that is not permitted under applicable law.</p>
    <p> 24. To the extent that the Website and Content are provided free of charge, we will not be liable to you for any loss or damage of any kind.</p>
    <p> 25. We will not be liable to you in respect of any losses arising out of events beyond our reasonable control.</p>
    <p> 26. To the maximum extent permitted by law, PlagiarismGuard.com accepts no liability for any of the following:</p>
    <ol type="I">
        <li>any business losses, such as loss of profits, income, revenue, anticipated savings, business, contracts, goodwill or commercial opportunities;</li>
        <li>loss or corruption of any data, database or software;</li>
        <li>any special, indirect or consequential loss or damage.</li>
    </ol>
    <h3>General</h3>
    <p> 27. You may not transfer any of your rights under these terms and conditions to any other person. We may transfer our rights under these terms and conditions where we reasonably believe your rights will not be affected.</p>
    <p> 28. These terms and conditions may be varied by us from time to time. Such revised terms will apply to the Website from the date of publication. Users should check the terms and conditions regularly to ensure familiarity with the then current version.</p>
    <p> 29. These terms and conditions together with the Privacy Policy and Cookies Policy contain the whole agreement between the parties relating to its subject matter and supersede all prior discussions, arrangements or agreements that might have taken place in relation to the terms and conditions.</p>
    <p> 30. The Contracts (Rights of Third Parties) Act 1999 shall not apply to these terms and conditions and no third party will have any right to enforce or rely on any provision of these terms and conditions.</p>
    <p> 31. If any court or competent authority finds that any provision of these terms and conditions (or part of any provision) is invalid, illegal or unenforceable, that provision or part-provision will, to the extent required, be deemed to be deleted, and the validity and enforceability of the other provisions of these terms and conditions will not be affected.</p>
    <p> 32. Unless otherwise agreed, no delay, act or omission by a party in exercising any right or remedy will be deemed a waiver of that, or any other, right or remedy.</p>
    <p> 33. These terms and conditions will be governed by and interpreted according to English law. All disputes arising under these terms and conditions will be subject to the exclusive jurisdiction of the English courts.</p>
    <h3>PlagiarismGuard.com details</h3>
    <p> 34. PlagiarismGuard.com operates the Website https://www.plagiarismguard.com. PlagiarismGuard.com is a sole trader established in England and Wales with its address at 7 Y Dolydd, Watford Park, Caerphilly, CF83 1NT.</p>
    <p> You may contact PlagiarismGuard.com by email via our <a href="{% url 'contact' %}">Contact Us</a> page.</p>

    </section>
{% endblock %}
